# Dependencies
node_modules/

# Build
dist/

# Environment
!.env.example
.env
.env.*

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
nest
nostr-relay-nestjs@*

# Test artifacts
test/middleware/

CHECKLIST.md